<h1>Log in</h1>

<p id="notice"><%= notice %></p>

<br>
This is a <strong>very exclusive </strong> site. You have to be a registered user to get in. 
<br>
<br>

<%= form_for(:session, url: login_path) do |f| %>

<%= f.label :email %>
<%= f.email_field :email%>

<%= f.label :password %>
<%= f.password_field:password %>

<%= f.submit "Log in",class: "btn btn-primary" %>
<% end %>
<br>
<p>Not a registered user yet? Click <%= link_to "here",new_user_path %> to register.</p>