<p id="notice"><%= notice %></p>

<div class="p-5 container">
  <h1>Users</h1>
</div>

<div class="p-5 container">
  <table class="table .thead-dark table-hover table-responsive">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Postcode</th>
      <th>Admin?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.postcode %></td>
        <td><%= user.is_admin %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New User', new_user_path %>

<br>
<br>

<div class="p-5 container">
  <h1>Reservations</h1>
</div>

<div class="p-5 container">
  <table class="table .thead-dark table-hover table-responsive">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Site Name</th>
      <th>Price ($)</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.user.name %></td>
        <td><%= reservation.user.email %></td>
        <td><%= reservation.site.sitename %></td>
        <td><%= reservation.site.cost %></td>
        <td><%= reservation.created_at %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Reservation', new_reservation_path %>

<br>
<br>

