<p id="notice"><%= notice %></p>

<div class="p-5 container">
  <h1>Sites</h1>
</div>

<div class="p-5 container">
  <table class="table .thead-dark table-hover table-responsive">
    <thead>
      <tr>
        <th>Site Name</th>
        <th>Site Type</th>
        <th>Country</th>
        <th>Date Inscribed</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Area</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td><%= site.sitename %></td>
          <td><%= site.sitetype %></td>
          <td><%= site.country.countryname %></td>
          <td><%= site.dateinscribed %></td>
          <td><%= site.latitude %></td>
          <td><%= site.longitude %></td>
          <td><%= site.area %></td>
          <td><%= link_to 'Show', site, class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div

<%= will_paginate @sites %>
