<p id="notice"><%= notice %></p>

<p>
  <strong>Site Name:</strong>
  <%= @site.sitename %>
</p>

<p>
  <strong>Description:</strong>
  <%= @site.description %>
</p>

<p>
  <strong>Date Inscribed:</strong>
  <%= @site.dateinscribed %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @site.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @site.latitude %>
</p>

<p>
  <strong>Area (Hectares):</strong>
  <%= @site.area %>
</p>

<p>
  <strong>Site Type:</strong>
  <%= @site.sitetype %>
</p>

<p>
  <strong>Country:</strong>
  <%= @site.country.countryname %>
</p>

<p>
  <strong>Cost ($):</strong>
  <%= @site.cost %>
</p>

<p>
  <strong>Total Shares Remaining:</strong>
  <%= @site.totalshares %>
</p>

<p>
  <strong>Listing No:</strong>
  <%= @site.code %>
</p>

<p>
  <%= button_to 'Add To Cart', line_items_path(site_id: @site), class: 'btn btn-primary' %>
</p>


<div id="map" style="height: 600px;">
  <%=
    map(:center => {
      :latlng => [@site.latitude, @site.longitude],
      :zoom => 1.5
    },
    :markers => [
    {
       :latlng => [@site.latitude, @site.longitude],
    }
  ]
)
  %>
</div>

<%= link_to 'Back', root_path %>