<!DOCTYPE html>
<html>
  <head>
    <title>Heritige Timeshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="px container">
    <%= render :partial=>"layouts/menu" %>
    <br>
    <center>
    <%= link_to "Home", timeshare_index_path %>  |  
    <%= link_to "Country Data", countries_path %>  |  
    <%= link_to "Site Data", sites_path %>  |
    <%=link_to "Log in", login_path %> |
    <%=link_to "Log out", logout_path %>
    </center>
    <br>
    <%= yield %>
  </div>
</html>